## Pandas ：　データベースの操作

In [2]:
import pandas as pd

In [3]:
# CSVファイルの読み込み
# df : data frame
df = pd.read_csv('sample.csv')

In [9]:
df.head(3)

        x         y
0  40.362  137500.0
1  40.686  132500.0
2  38.430   93000.0

In [11]:
# データの抽出
x = df['x']
y = df['y']

0     40.362
1     40.686
2     38.430
3     36.822
4     37.002
       ...
95    47.250
96    43.722
97    42.642
98    43.644
99    41.850
Name: x, Length: 100, dtype: float64